{{!< layout/student-layout}}

{{#contentFor 'studentPageStyles'}}
    <link rel="stylesheet" href="css/student-answer.css">
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="model/formSerializer.js"></script>
{{/contentFor}}

</div>

<div class="panel panel-primary" id='student-info-frame'>
    <div class="panel-body" id='student-info'>
        <h4>{{title}}</h4>
        <table class="table">
            <tr>
                <td>姓名：孙恬静</td>
                <td>时间：100分钟</td>
                <td>班级：1班</td>
            </tr>
        </table>
    </div>
</div>
<br>
<div class="panel panel-primary" id='blank'>
    <div class="panel-body">
        <h4>一.填空题</h4>
        {{{blank blankContents}}}
    </div>
</div>
<br>

<div class="panel panel-primary" id='single-choose'>
    <div class="panel-body">
        <h4>二.单选题</h4>
        {{singleChoose singleChooseContents}}

    </div>
</div>
<div class="panel panel-primary" id='single-choose'>
    <div class="panel-body">
        <h4>三、多选题</h4>
        {{mutilChoose mutilChooseContents}}
    </div>
</div>
<div id='submit'>
    <input type="button" value="提交">
</div>
<!--<script type="text/javascript">-->
    <!--var cook = $.cookie('studentId');-->
    <!--$(function () {-->
        <!--if (cook == null) {-->
            <!--window.location = "/";-->
        <!--}-->
    <!--})-->
<!--</script>-->
