{{!< layout/default}}
{{#contentFor 'pageStyles'}}
    <link rel="stylesheet" href="css/student-login-main.css">
    <script src="js/login-input-status.js"></script>
    <script src="js/student-login-main.js"></script>
{{/contentFor}}

<body>
<div>
    <div class="header">
        <h1 class="header-logo">Exam Crazy - Best online exam platform</h1>
    </div>
    <div class="content">
        <form class="form-horizontal">
            <div class="form-group" style="width:800px;margin:auto;">
                <input type="username" id="student-id" class="form-control" placeholder="学号">
            </div>
            <div class="form-group" style="width:800px;margin:auto;">
                <label class="input-error" for="password"></label>
                <input type="password" id="password" class="form-control" placeholder="密码" >
            </div>
            <div class="form-group"  style="width:800px;text-align:center;margin:auto;">
                <button type="button" id="login-button" class="btn btn-default" style="width:800px;margin:20px auto;">登录</button>
                没有帐号？<a href=http://localhost:3000/studentRegister>立即注册</a>
            </div>
        </form>
    </div>
</div>
</body>
