{{!< layout/teacher-layout}}

{{#contentFor 'teacherPageStyles'}}
  <link rel="stylesheet" href="css/teacher-checkpage.css">
  <script type="text/javascript" src="js/teacher-check-page.js"></script>
{{/contentFor}}

<div class="right">

</div>
