{{!< ../layout/teacher-layout}}
{{#contentFor 'teacherPageStyles'}}

  <script type="text/javascript" src="js/teacher-paper.js"></script>
  <script type="text/javascript" src="js/single-choice.js"></script>
  <script type="text/javascript" src="js/multiple-choice.js"></script>
  <script type="text/javascript" src="js/fill-status.js"></script>
  <script type="text/javascript" src="js/add-fill.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/teacher-paper.css">
{{/contentFor}}

<div class="panel panel-default">
  <div class="panel-heading">新增试卷</div>
  <div class="panel-body">
    试卷名称
    <input type="text" id="paperName"> 科目
    <input type="text" id="subjectName">分数
    <input type="text" id="score">
    <button type="button" id="addPaper" class="btn btn-info">添加考卷</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">试卷内容</h3>
  </div>
  <div class="panel-body">
    <div id="questionType">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" class="fill" value="option1" checked>填空题
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" class="single" value="option2">单选题
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" class="multiple" value="option3"> 多选题
      </label>
    </div>
    <div class="model">
      <div id="addItem">
        {{{body}}}
      </div>
      <div class="showPaper">
        <h3 class="text-center">试题展示</h3>
      </div>
    </div>
  </div>
  <br>
  </br>
</div>
