{{!< default}}
{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="css/teach-stu-layout.css">
  {{{block "studentPageStyles"}}}
{{/contentFor}}

<div class="nav-topPannel">
  <div class="nav-navPills">
    <ul class="nav nav-pills" id="navPill">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">学生信息管理</a></li>
      <li><a href="#">学生考试管理</a></li>
      <li><a href="#">学生考卷查询</a></li>
      <li><a href="#">学生信息修改</a></li>
    </ul>
  </div>
  <div class="nav-topCancel">
    <button id="btn-cancel" type="button" class="btn btn-danger">退出系统</button>
  </div>
</div>
{{{body}}}
 {{{block "studentPageScripts"}}}
